*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(40, 35, 35);
    padding: 20px;
    position: sticky;
    top: 0.0px;
}
.nav a{
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/* .start{
    float: right;
    text-align: center;
    border: 2px solid red;
    background-color: blue;
    padding: 10px 19px 10px 19px;
    border-radius: 9px;
    margin-top: 0px;
    align-items: center;
} */
.start {
    padding: 09px 15px 09px 15px;
    border-radius: 04px;
    background-color: blue;
    float: right;
    width: 200px;
    text-align: center;
    position: relative;
    bottom: 30px;
    border: 3px solid blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav2{
    background-color: blue;
    padding: 16px;
    color: aliceblue;
    position: sticky;
    top: 60px;
}
.nav2 a{
    text-decoration: none;
    color: aliceblue;
    line-height:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav2 span{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.dev{
    float: right;
    padding: 20px;
    position: relative;
    bottom: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2{
    height: 975px;
    width: 1463.2;
    margin-right: 690px;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.section2 h1{
    font-size: 70px;
    height: 73px;
    width: 680px;
    font-weight: 500;
}
.section2 p{
    font-size: 16px;
    height: 50px;
    width: 680px;
    margin-top: 70px;
    margin-bottom: 0px;
    font-family: verdana,sans-serif;
    letter-spacing: 1px;
    line-height:1.6em;
}
code{
    font-size: 019px;
   
}
hr{
    margin : 60px 0px;
    
}
.section3 h2{
     font-size: 36px;
     font-weight: 200;
     height: 92px;
     width: 680px;
}
.section3{
    font-family: verdana,sans-serif; 
}
.section3 p{
    font-family: verdana,sans-serif;
    letter-spacing: 1px;
    line-height:1.6em;
    font-size: 16px;
    
}
.section4{
    height: 120px;
    width: 680px;
    margin: 0px;
    
    padding: 20px;
    padding-top: 0px;
    
}
.col1{
    float: left;
    width: 50%;
    padding: 0px;
}
.col2{
    float:right;
    width: 50%;
}
.section5{
    /* border: 2px solid red; */
    height: 283.5px;
    width: 100%;
    margin-top: 40px;
    background-color: black;
    color: aliceblue;
    
}
.col4 h4{
    height: 73.5px;
    width: 611.6px;
}
.col4{
    float: left;
    width: 35%;
    padding: 35px;
    overflow: hidden;
}
.col5{
    float: right;
    width: 35%;
    overflow: hidden;
    padding: 35px;
}
.col4 h1{
    padding-left: 70px;
    font-size: 70px;
}
.col4 p{
    padding-left: 70px; 
    margin: 20px;  
}
.b1{
    overflow: hidden;
    border-top: 2px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    padding: 14px 0px;
}
.b2{
   
    padding: 14px 0px;
    border-top: 1px solid antiquewhite;
    border-bottom: 2px solid antiquewhite;
}

/* logoooo */
.logo i{
    /* border: 2px solid red; */
    font-size: 20px;
    padding: 8px;
    margin-top: 10px;
}
